<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <section class="block1">
      <div class="container">
        <div class="row">
          {{ $paginator := $.Paginator }}
          {{ range .Paginator.Pages }}
          <div class='col-md-4'>
            <article class='subblock'>
              <a href="{{ .Permalink }}"><img src="{{ .Permalink }}/illustration__square.jpg" class="img-responsive"/></a>

              <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              <div class="summary">
                {{ .Summary }}
              </div>
            </article>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ partial "footer" . }}
  </body>
</html>
