<div class="post-info">
    Le
    {% if article.modified %}
    <span class="published">
        <time datetime="{{ article.modified.isoformat() }}"> {{ article.modified.strftime("%d %B") }}</time>
    </span>
    {% else %}
    <span class="published">
        <time datetime="{{ article.date.isoformat() }}"> {{ article.date.strftime("%d %B") }}</time>
    </span>
    {% endif %}

    {% if article.authors %}
       par 
       {% for author in article.authors %}
         <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
       {% endfor %}
    {% endif %}


    <span class="pull-right">
        <a href="{{ SITEURL }}/{{ article.category.url }}"><i class="fa fa-folder-open"></i> {{ article.category }}</a>
    </span>

    <div>
    {% include 'includes/taglist.html' %}
    </div>
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</div><!-- /.post-info -->
