<div class="post-info">
    Le
    {% if article.modified %}
    <span class="published">
        <time datetime="{{ article.modified.isoformat() }}"> {{ article.modified.strftime("%d %B") }}</time>
    </span>
    {% else %}
    <span class="published">
        <time datetime="{{ article.date.isoformat() }}"> {{ article.date.strftime("%d %B") }}</time>
    </span>
    {% endif %}

    {% if article.author %}
    par 
    <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    {% endif %}

    dans :
    {% include 'includes/taglist.html' %}
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</div><!-- /.post-info -->
